@charset "UTF-8";

.intestazione {
	position: sticky;
	top: 0;
	left: 0;
	height: 75px;
	width: 100%;
	background-color: #AAAAAA;
	z-index:20;
}

.logo {
	padding-left: 12px;
	padding-top: 6px;
	float: left;
	display: inline-block;
	width: 25%;
}

.logo img {
	width: 80px;
}

.boxRicerca 
{
	
	display: inline-block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.ricerca {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	margin-top:20px;
}

.barraRic{
 	background-color:white;
  width: 250px;
  border: 3px solid white;
  border-right: none;
  padding: 5px;
  height: 37px;
  border-radius: 5px 0 0 5px;
  outline: none;

}

.pulsanteRic {
  width: 44px;
  height: 37px;
  border: 1px solid #e9eceb;
  background: #e9eceb;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.pulsanteRic img {
	width: 36px;
	height: 36px;
}

.profilo {
	display: inline-block;
	float: right;
	position: relative;
}

.profilo img {
	width: 80px;
}

.carrello {
	display: inline-block;
	float: right;
	position: relative;
}

.carrello img {
	width: 75px;
}
